<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-native-cache" version="1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-native-cache</name>

    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <hook type="before_plugin_install" src="hooks/installDependencies.js" />

    <platform name="android">
    </platform>

    <platform name="ios">
    </platform>

</plugin>
